# ANÁLISIS

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from bootcampviztools import plot_categorical_numerical_relationship, plot_combined_graphs, \
    pinta_distribucion_categoricas, plot_grouped_boxplots, plot_categorical_relationship_fin
df = pd.read_csv("/Users/maria/BootCamp/REPO_MARIA_GARCIA/EDA_STUDENTS-PERFORMANCE-EXAMS/src/data/DataSet.csv")

## TABLA DE VARIABLES

In [10]:
# Para crear la tabla vamos ver la cardinalidad de las variables
df_tipificacion = pd.DataFrame([df.nunique(), df.nunique()/len(df) * 100, df.dtypes]).T.rename(columns = {0: "Card", 1: "%_Card", 2: "Tipo"})
df_tipificacion

                            Card %_Card    Tipo
gender                         2    0.2  object
race/ethnicity                 5    0.5  object
parental level of education    6    0.6  object
lunch                          2    0.2  object
test preparation course        2    0.2  object
math score                    81    8.1   int64
reading score                 72    7.2   int64
writing score                 77    7.7   int64

In [12]:
# Y ahora a tipificar las variables
df_tipificacion["Clasificada_como"] = "Categorica" # PArtiendo de que casi todas parecen categóricas
df_tipificacion.loc[df_tipificacion.Card == 2, "Clasificada_como"] = "Binaria"
df_tipificacion.loc[df_tipificacion["Card"] > 10, "Clasificada_como"] ="Numerica Discreta"
df_tipificacion.loc[df_tipificacion["%_Card"] > 30, "Clasificada_como"] = "Numerica Continua"
df_tipificacion

                            Card %_Card    Tipo   Clasificada_como
gender                         2    0.2  object            Binaria
race/ethnicity                 5    0.5  object         Categorica
parental level of education    6    0.6  object         Categorica
lunch                          2    0.2  object            Binaria
test preparation course        2    0.2  object            Binaria
math score                    81    8.1   int64  Numerica Discreta
reading score                 72    7.2   int64  Numerica Discreta
writing score                 77    7.7   int64  Numerica Discreta

**Dataset:**  DataSet.csv  
**Descripción:**  Datos académicos de un instituto de Estados Unidos y datos demográficos     
**Periodo:**  Sin especificar.

| Nombre del campo | Descripción                                              | Tipo de variable | Importancia Inicial | Notas                                           |
|------------------|----------------------------------------------------------|------------------|---------------------|-------------------------------------------------|
| género       | Género del alumno                             | Binaria (categórica)      | 1                   | Son los sujetos expuestos a análisis|
| nivel de educación parental           | Nivel de estudios académicos de los padres                  | Categórica       | 1                   | ¿Puede influenciar en el desarrollo académico de los hijos?     |
| comedor          | Si disponen de servicio de comedor gratis o no                 | Binaria (categórica)      | 3                   | Es importante el servicio de comedor para el rendimiento académico          |
| curso de preparación        | Realización de un curso previo al examen          | Binaria (categórica)        | 1                   | Importancia de la preparación previa    |
| resultados en matemáticas            | Resultado numérico del 1 al 100            | Numérica Discreta      | 0                   | Valor numérico con el resultado  y esencial para el análisis     |
| resultados en lectura       | Resultado numérico del 1 al 100           | Numérica Discreta       | 0                  | Valor numérico con el resultado y esencial para el análisis       |
| resultados en escritura       | Resultado numérico del 1 al 100             | Numérica Discreta         | 0                   | Valor numérico con el resultado y esencial para el análisis  |
| media de resultados       | Resultado numérico del 1 al 100             | Numérica Discreta         | 1                   | Media de los resultados para tener un valor global |

## ANÁLISIS UNIVARIANTE

##### VARIABLES CATEGÓRICAS

##### VARIABLES NUMÉRICAS

## ANÁLISIS BIVARIANTE

## ANÁLISIS MULTIVARIANTE

In [5]:
#Calculo la media para las variables numéricas
df.describe().loc["mean"]

math score       66.089
reading score    69.169
writing score    68.054
Name: mean, dtype: float64

In [6]:
#Calculo la moda para las variables categóricas, creando una tabla con las categóricas.
categoricas = [
    "gender",
    "race/ethnicity",
    "parental level of education",
    "lunch",
    "test preparation course"
]
df[categoricas].mode().T

                                        0
gender                             female
race/ethnicity                    group C
parental level of education  some college
lunch                            standard
test preparation course              none

In [ ]:
pinta_distribucion_categoricas(df, categoricas)